<div class="container-fluid">

<div class="row">
<h1 class="text-center"><%=@hotel.title%></h1>
<p class="text-center"><%=@hotel.average_raiting %></p>
</div>
  <% if !Raiting.new(user_id: current_user.id, hotel_id: @hotel.id).exist?%>
  <div class="row">
    <div class="col-md-4 col-md-offset-5">
        <form  method="post">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary"><input type="radio" name="raitings"  value='1'>1</label>
            <label class="btn btn-primary"><input type="radio" name="raitings"  value='2'>2</label>
            <label class="btn btn-primary"><input type="radio" name="raitings"  value='3'>3</label>
            <label class="btn btn-primary"><input type="radio" name="raitings" value='4'>4</label>
            <label class="btn btn-primary"><input type="radio" name="raitings" value='5'>5</label>
          </div>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="submit"/>
        </form>

    </div>
  </div>
  <%end%>
  <div class="row">
  <div id="<%=@hotel.title %>" class="links col-md-6 col-md-offset-3">
    <%@hotel.pictures.each do|picture| %>
        <a href="<%=picture.url%>"><img src="<%=picture.thumb.url%>" class="img-thumbnail"></a>
    <%end%>
  </div>
</div>

<div class="col-md-6 col-md-offset-1">
  <div class="container-fluid">
    <div class="row">Room description:</div>
    <div class="row"><%= @hotel.room_description %></div>
    <div class="row">Price for room: <%= @hotel.price_for_room %></div>
    <div class="row"><h4>Address</h4></div>
    <div class="row">Country:<%=@hotel.adress.country%></div>
    <div class="row">State:<%=@hotel.adress.state%></div>
    <div class="row">City:<%=@hotel.adress.city%></div>
    <div class="row">Street:<%=@hotel.adress.street%></div>
  </div>
</div>
</div>

<div id="blueimp-gallery" class="blueimp-gallery">
  <div class="slides"></div>
</div>
<script>
  document.getElementById('<%=@hotel.title %>').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event, hidePageScrollbars: false},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
  };
</script>